{% extends "base.html" %}

{% block content %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'grafana:org-list' %}">Organizations</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'grafana:org-detail' object.orginization.pk %}">{{ object.orginization.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
  </ol>
</nav>

<pre>{{object.data|pprint}}</pre>

<table class="table">
{% for version in object.version_set.all|dictsort:'created' %}
    <tr>
        <td>{{version.created}}</td>
        <td>{{version.created_by.login}}</td>
        <td>{{version.message}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
